body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-weight: 600;
    font-size: large;
}

h5 {
    font-weight: 500;
    font-size: medium;
}

p {
    color: #fff
}

a {
    text-decoration: none;
    color: #fff;
}

.container-fluid {
    padding: 3% 7%;
}




/* Headings */

.biggest-heading {
    font-weight: 900;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-size: 44px;
}

.big-heading {
    font-weight: 600;
    line-height: 1.5;
}




/*Navbar */

nav {
    height: 64px;
    padding: 2% 10%;
}

.navbar {
    color: #b6d3e6;
    width: 100vw;
    position: fixed;
    /* opacity: 0.1; */
    z-index: 1;
}



.navbar-brand,
.navbar-brand>img {
    height: 50px;
    padding: auto;
    margin-left: 10px;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    /* text-align: right;  */
    align-items: center;
    margin: 0 3%;
    gap: 10px;
}

.nav-link {
    padding: auto;
}

.nav-link:hover {

}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled > div > a > img {
    content: url('images/Brand.png');
}

.navbar-fixed-top.scrolled > div > div > a {
    color: #345 !important;
    transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled > div > div > .active {
    color : #1389d5 !important;
    font-weight: 600;
}



/* Title */

#title {
    /* background-color: #1389d5; */

}

#title>.container-fluid {
    padding: 0;
}

.title {
    /* background-image: url("images/background.jpg");
     */
    background-color: #fff;
}

.backdrop {
    width: 100%;
    height: 40rem;
    position: relative;
    filter: sepia(100%) saturate(600%) brightness(60%) hue-rotate(160deg) blur(3px);
    opacity: 6.96969;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.title-head {
    position: absolute;
    color: #fff;
    align-self: center;
}

.title-big-header {
    font-family: 'Righteous', cursive;
    font-size: 144px;
}

.title-small-header {
    font-family: 'Gemunu Libre', sans-serif;
    letter-spacing: 1.8rem;
}



/* Community Cards */


.container {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.card-img-overlay>a {
    margin: 0 10px;
}

.card-img {
    aspect-ratio: 1;
}

.card-img-overlay {
    transform: translateY(78%);
    transition: transform 0.18s ease-in;
    background-color: rgba(0, 0, 0, 1);
    padding: 5% 6% 10%;
    overflow: auto;
}

.card-img-overlay>.card-text {
    opacity: 0;
    transform: translateY(-6rem);
    transition: opacity 0.05s ease-in, transform 0.25s ease-in;
}

.card-img-overlay>.btn {
    opacity: 0;
    transform: translateY(2rem);
}

.card {
    overflow: hidden;
    background-color: #345;
    aspect-ratio: 1;
    margin: 15%;

}

.card-title {
    font-family: 'Gemunu Libre', sans-serif;
    font-weight: 800;
}

.card-img-overlay > p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

.testfont {
}

.card:hover>.card-img {
    mix-blend-mode: overlay;
}

.card:hover>.card-img-overlay {
    transform: translateY(0);
    transition: transform 0.25s ease-out;
    background-color: rgba(0, 0, 0, .1);
    padding-top: 10%;
}

.card:hover>.card-img-overlay>.card-text {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease-out, transform 0.2s ease-out;
}

.card:hover>.card-img-overlay>.btn {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.7s ease-out, transform 0.35s ease-out;
}





/* Footer */

#footer {
    background-color: #1389d5;
    color: #fff;
    font-size: 14px;
    padding: 0 7% !important;
}

#footer>div {
    padding: 2rem 0;
}

.footer-1 {
    text-align: center;
    margin: auto;
    width: 90%;
    padding: 2rem 0;
}

.footer-1>p {
    width: 30%;
    /*media*/
    margin: auto;
}

.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px;
    margin-bottom: 2rem;
    /*media*/
}

.footer-column>h5 {
    margin-bottom: 0;
}

.footer-column>a {
    line-height: 0.2;
    color: #b6d3e6;
    font-weight: 300;
}

.footer-column>a:hover {
    color: #fff;
    font-weight: 400;
}

.phone {
    margin-bottom: 0;
}

.mail {
    margin-top: auto;
    margin-bottom: 0;
}

.footer-links>a {
    margin: 0 2% 2rem;
    color: #a9cde5;
}

.footer-links>a:hover {
    color: #fff
}



/* Medium screens */
@media (max-width: 992px) {

    html {
        width: 100vw;
    }

    .title-big-header {
        font-family: 'Righteous', cursive;
        font-size: 14vw;
    }
    
    .title-small-header {
        font-family: 'Gemunu Libre', sans-serif;
        letter-spacing: 2vw;
        font-size: 4vw;
    }    

    .backdrop {
        height: 80vmax;
    }

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
        width: 80%;
    }

    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 2.5rem;
    }

    .testimonial-image {
        width: 20%;
    }
}



/* Small screens */
@media (max-width: 430px) {

    html {
        width: 100vw;
    }

    .title-big-header {
        font-family: 'Righteous', cursive;
        font-size: 14vw;
    }
    
    .title-small-header {
        font-family: 'Gemunu Libre', sans-serif;
        letter-spacing: 2vw;
        font-size: 4vw;
    }    

    .backdrop {
        height: 40vmax;
    }

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
        width: 80%;
    }

    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 2.5rem;
    }

    .testimonial-image {
        width: 20%;
    }
}
